* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0 auto;
  width: 750px;
  background-color: whitesmoke;
}

#gameEnter {
  margin-top: 50px;
}

footer {
  padding-top: 15px;
  margin: 50px auto 30px auto;
  width: 750px;
  height: 120px;
}

donate {

}