* {
    font-family: 'Malgun Gothic';
    font-size: 12px;
    padding: 0 0 0 0;
}

#chessBoard {
}

#canvas {
    float: left;
    border: solid 4px #000000;
}

#dragCanvas {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#record {
    float: right;
    resize: none;
    border: solid 4px #000000;
    background-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
