* {
    font-family: '08SeoulNamsan', 'Malgun Gothic';
    font-size: 12px;
}

#chessBoard {
}

#canvas {
    float: left;
    border: solid 4px black;
}

#dragCanvas {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#chat {
    float: right;
}

#record {
    font-size: 14px;
    resize: none;
    border: solid 4px black;
    background-color: ghostwhite;
}

#chat > input {
    clear:both;
    border: solid 4px black;
    background-color: ghostwhite;
}

body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}
