#bgPopup {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
}

#Popup {
    display: none;
    position: fixed;
    background: #FFFFFF;
    border: 4px thick #cecece;
    z-index: 2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px black ;
}

    #Popup:hover {
        cursor: pointer;
    }

#contents {
    font-size: 20px;
}
