#bgPopup {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
}

#Popup {
    display: none;
    position: fixed;
    background: whitesmoke;
    border: 4px thick #cecece;
    z-index: 2;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 9px grey;
    color: black;
}

    #Popup:hover {
        cursor: pointer;
    }

#contents {
    font-size: 16px;
}
