<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes" />
  <title>Our Chess! Realtime Multiplayer "Room : <%= room %>"</title>
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/css/ourChess.css">
  <link rel="stylesheet" type="text/css" href="/css/popup.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/modernizr-1.6.min.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/checkAvailability.js"></script>
  <script src="/js/piecePosition.js"></script>
  <script src="/js/draw.js"></script>
  <script src="/js/dragAndDrop.js"></script>
  <script src="/js/socketIoEvent.js"></script>
  <script src="/js/init.js"></script>
  <script type="text/javascript">var switchTo5x = true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
  <script type="text/javascript">stLight.options({ publisher: "0057fd7a-f2cd-46d1-a96c-ea3c978b757c" });</script>
  <script>
    var options = { "publisher": "0057fd7a-f2cd-46d1-a96c-ea3c978b757c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0 }, "chicklets": { "items": ["facebook", "twitter", "sharethis"] } };
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
  </script>
  <script>
    $(window).load(function () { init('<%= room %>'); });
    $(window).resize(function () { $(chessBoardDiv).center(); $('#Popup').center(); });
  </script>
</head>
<body>
  <div id="chessBoard">
    <canvas id="canvas"></canvas>
    <canvas id="dragCanvas"></canvas>
    <textarea id="record" readonly="readonly"></textarea>
    <input id="textInput" type="text" placeholder="send message.." />
  </div>
  <div id="Popup">
    <span id="contents">This is my popup box</span>
  </div>
  <div id="bgPopup"></div>
</body>
</html>
